In general, database normalization is the process of structuring a database to reduce data redundancy. (see e.g. https://en.wikipedia.org/wiki/Database_normalization)

For a given dataframe mleaders perform below operations to normalize database.

1) Goal: The values in each column of a table must be atomic. HINT: Replace a row of data of a leader with two battles with two rows, one per each battle.

2) Goal: Remove Transitive Dependency, that is, situation when a non-prime attribute depends on other non-prime attributes rather than depending upon the prime attributes or primary key. (more info: https://en.wikipedia.org/wiki/Transitive_dependency) HINT: Divide data in two tables - battle, leaders. HINT: remove duplicate rows.

3) Goal: Remove Partial Dependency, which exists, when for a composite primary key, any attribute in the table depends only on a part of the primary key and not on the complete primary key. HINT: The key for leaders table consists of columns 'Leader Name' and 'Leader Surame'

4) Sum DataFrames from the result of part 3) to recreate table leaders obtained from part 2). HINT: use join

1), 2) and 3) should simulate 1NF, 3NF, 2NF.

In [2]:
import pandas as pd

leadername = ['Stanisław', 'Jan', 'Jan', 'Grzegorz', 'Jan']
leadersurname = ['Żółkiewski', 'Chodkiewicz', 'Sobieski', 'Chodkiewicz', 'Chodkiewicz']
battle = ['Kłuszyn 4.VII.1610', 'Kircholm 27.IX.1605', 'Wiedeń 12.IX.1683 | Chocim 11.XI.1673','Czaśniki 26.I.1564','Biały Kamień 25.IX.1604']
btype = ['land battle']*5
no = ['old slavic','hebrew','hebrew','greek','hebrew']
title = ['hetman wielki koronny','hetman wielki litewski','król','hetman wielki litewski','hetman wielki litewski']

ln = pd.Series(leadername)
ls = pd.Series(leadersurname)
b = pd.Series(battle)
bt = pd.Series(btype)
o = pd.Series(no)
t = pd.Series(title)

data = pd.DataFrame({'Leader Name': ln, 'Leader Surame': ls, 'Battle': b, 'Battle type': bt,
                     'Name origin': o, 'Title':t})
data
# your code here

,Leader Name,Leader Surame,Battle,Battle type,Name origin,Title
0,Stanisław,Żółkiewski,Kłuszyn 4.VII.1610,land battle,old slavic,hetman wielki koronny
1,Jan,Chodkiewicz,Kircholm 27.IX.1605,land battle,hebrew,hetman wielki litewski
2,Jan,Sobieski,Wiedeń 12.IX.1683 | Chocim 11.XI.1673,land battle,hebrew,król
3,Grzegorz,Chodkiewicz,Czaśniki 26.I.1564,land battle,greek,hetman wielki litewski
4,Jan,Chodkiewicz,Biały Kamień 25.IX.1604,land battle,hebrew,hetman wielki litewski

In [8]:
data.applymap(lambda x: x.split('|')).explode()

TypeError: explode() missing 1 required positional argument: 'column'

In [9]:
data = data.assign(Battle=data.Battle.str.split('|')).explode('Battle')

,Leader Name,Leader Surame,Battle,Battle type,Name origin,Title
0,Stanisław,Żółkiewski,Kłuszyn 4.VII.1610,land battle,old slavic,hetman wielki koronny
1,Jan,Chodkiewicz,Kircholm 27.IX.1605,land battle,hebrew,hetman wielki litewski
2,Jan,Sobieski,Wiedeń 12.IX.1683,land battle,hebrew,król
2,Jan,Sobieski,Chocim 11.XI.1673,land battle,hebrew,król
3,Grzegorz,Chodkiewicz,Czaśniki 26.I.1564,land battle,greek,hetman wielki litewski
4,Jan,Chodkiewicz,Biały Kamień 25.IX.1604,land battle,hebrew,hetman wielki litewski